
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}

@{Html.RenderPartial("_SysDatePartial");}
<br />
@{Html.RenderPartial("_SysDatePartial");}
<br />
@{Html.RenderPartial("_SysDatePartial");}
<br />
<table class="table table-bordered table-striped">
    <tr>
        <td>123</td>
        <td>456</td>
        <td>789</td>
        <td>abc</td>
    </tr>

    <tr>
        <td>def</td>
        <td>ghi</td>
        <td>jkl</td>
        <td>mno</td>
    </tr>
</table>
@{Html.RenderPartial("_SysDatePartial");}
